append variables

mixin HeaderProductCard(config)
  img(src=`${CWD}assets/img/gallery/${config.image}`  alt='products').w-100

mixin HeroHeader({id})
  section.py-0#header
    .container
      .row.align-items-center.min-vh-75.min-vh-md-50
        .col-12.text-center.py-8
          h1.lh-sm.fs-lg-6.fs-xxl-7 WINE BUNKER

            br
            |
          p.text-700
          |Compare the price of the wine you want to buy and buy it cheaply.
          .mt-5
          div(class= 'search')
            input(type="text" class="searchTerm" placeholder= "검색어를 입력해주세요")
            button(type="submit" class= "searchButton")
              i 검색
    .container
      .row.gx-2 
        .col-12
          h1.lh-sm.fs-lg-6.fs-xxl-7 최근 게시된 가격 목록
