append variables

mixin Extract
    .container
        .row.align-items-center
            .col-12.text-left.py-8
                .col-md-12.btn-group.d-flex.flex-wrap
                    each value in list
                        a.button.btn.btn-outline-dark.me-3.mb-2(type='button' href =`/search?search=${value}`)=value




