append variables

mixin HeaderProductCard(config)
  img(src=`${CWD}assets/img/gallery/${config.image}`  alt='products').w-100

mixin HeroHeader
    .container
      .row.align-items-center.min-vh-75.min-vh-md-50
        .col-12.text-center.py-8
          h1.lh-sm.fs-lg-6.fs-xxl-7 WINE BUNKER
          p.text-700
            | Compare the price of the wine you want to buy and buy it cheaply.
          .mt-5
          form(action="/search" method="GET")
            .input-group
              input(type="text" name="search" class="form-control" placeholder="검색어를 입력해주세요")
              div.input-group-append
                button(type="submit" class="btn btn-outline-secondary")
                  i.fa.fa-search