append variables

mixin Registration2
    .row.align-items-center.min-vh-75.min-vh-md-50
        .col-12.text-center.py-8
            .container
                h1 등록 완료
                p 등록이 성공적으로 완료되었습니다.
                a.btn.btn-primary(href="/") 메인으로