extends ../layouts/LayoutTheme
include ../mixins/home/landing/searchList

append variables

    - var resource = resource

append styles
    link(href=`${CWD}vendors/swiper/swiper-bundle.min.css`,rel='stylesheet')

prepend scripts
    script(src=`${CWD}vendors/swiper/swiper-bundle.min.js`)

append content
    +searchList(resource)
