extends layout

block content
  title= title
  .main
    p
      |Welcome to #{title} Record your Wine Rate && Price
  .title
    div(class = "search")
      input(type="text" class="searchTerm" placeholder="What are you looking for?")
      button(type="submit" class="searchButton")
        i(class="fa fa-search")
        div search

