doctype html
html
  head
    title Login
  body
    form(method='POST' action='/login')
      label(for='username') Username:
      input(type='text' id='username' name='username' required)
      label(for='password') Password:
      input(type='password' id='password' name='password' required)
      input(type='submit' value='Login')
