body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.title {
  text-align: center;
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main p {
  text-align: center;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #DC23EF;
}
a {
  color: #00B7FF;
}
